

<div class="menu">
 

    <h1>Admin</h1>

    <ul>

        <li>
            <fa-icon [icon]="home" class="menu-icon fa-lg"></fa-icon>
            <a routerLink="/dashboard-component" routerLinkActive="active">dashbard</a>
        </li>

        <li>
            <fa-icon [icon]="all" class="menu-icon fa-lg"></fa-icon>
            <a routerLink="/allemployees-component" routerLinkActive="active">All-Employees</a>
        </li>

        <li>
            <fa-icon [icon]="add" class="menu-icon fa-lg"></fa-icon>
            <a routerLink="/addemployee-component" routerLinkActive="active">Add-Employee</a>
        </li>

        <li>
           <fa-icon [icon]="view" class="menu-icon fa-lg"></fa-icon>
           <a routerLink="/viewemployee-component" routerLinkActive="active">View-Employee</a>
        </li>

        <li>
            <fa-icon [icon]="edit" class="menu-icon fa-lg"></fa-icon>
            <a routerLink="/editemployee-component" routerLinkActive="active">Edit-Employee</a>
        </li>

    </ul>
</div>





 











