
<div class="menu">
    <!-- <img src="./src/assets/images/logo.png" alt="logo"> -->
 

    <h1>Admin</h1>

    <ul>
        <li>
          <fa-icon [icon]="home" class="menu-icon fa-lg"></fa-icon>
            <a routerLink="/dashboard-component" routerLinkActive="active">dashbard</a>
        </li>

        <li>
            <fa-icon [icon]="all" class="menu-icon fa-lg"></fa-icon>
            <a routerLink="/allemployees-component" routerLinkActive="active">All-Employees</a>
        </li>

        <li>
            <fa-icon [icon]="add" class="menu-icon fa-lg"></fa-icon>
            <a href="#Add-Employee">Add-Employee</a>
        </li>

        <li>
           <fa-icon [icon]="view" class="menu-icon fa-lg"></fa-icon>
            <a href="View-Employee">View-Employee</a>
        </li>

        <li>
            <fa-icon [icon]="edit" class="menu-icon fa-lg"></fa-icon>
            <a href="#Edit-Employee">Edit-Employee</a>
        </li>

    </ul>
</div>

<!-- router-outlet is active if you want blank home screen -->
<!-- <router-outlet></router-outlet> -->

















