//mixins 


//open tabs details 
@mixin open-tab {
    height:40px;
    width:80%;
     margin-left:280px;
    margin-top:400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

//content screen 
@mixin content_box {
    height:550px;
    width:80%;
    margin:20px 0px 30px 280px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius:5px;
}